FLASK_APP=run.py
FLASK_ENV=production
SECRET_KEY=numero-annand-super-secret-key-2026
DATABASE_URL=sqlite:///numero_annand.db
JWT_SECRET_KEY=jwt-secret-key-numero-annand-2026
JWT_ACCESS_TOKEN_EXPIRES=3600
JWT_REFRESH_TOKEN_EXPIRES=604800
UPI_ID=7099805039-2@axl
UPI_PAYEE=Ananda Sarmah
ADMIN_EMAIL=admin@numeroannand.com
SITE_URL=http://localhost:5000
